@tailwind base;
@tailwind components;
@tailwind utilities;

/* Cacher la scrollbar */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.custom-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 1rem;
}

.group:hover .custom-overlay {
    opacity: 1;
}